allow init devinfo_block_device:blk_file { r_file_perms };

allow init servicemanager:binder { call };

allow init touchpanel_file:lnk_file { setattr };
allow init proc:lnk_file { setattr };
