allow init servicemanager:binder { call };

allow init touchpanel_file:lnk_file { setattr };
allow init proc:lnk_file { setattr };

#allow init firmware_file:dir { create setattr };
#allow init bt_firmware_file:dir { create setattr };
