allow mediaserver persist_file:dir { r_dir_perms };
allow mediaserver persist_file:file { r_file_perms };
# communicate with perfd
allow mediaserver perfd:unix_stream_socket connectto;
allow mediaserver mpctl_data_file:dir search;
allow mediaserver mpctl_data_file:sock_file write;
allow mediaserver mpctl_socket:dir search;
allow mediaserver mpctl_socket:sock_file write;
