get_prop(platform_app, qemu_hw_mainkeys_prop)

# dontaudit
dontaudit platform_app app_data_file:dir { search };
dontaudit platform_app sysfs_ir_enable:file { write };
