type remotecontrol_app, domain;
app_domain(remotecontrol_app)
allow remotecontrol_app accessibility_service:service_manager find;
allow remotecontrol_app activity_service:service_manager find;
allow remotecontrol_app appops_service:service_manager find;
allow remotecontrol_app connectivity_service:service_manager find;
allow remotecontrol_app content_service:service_manager find;
allow remotecontrol_app display_service:service_manager find;
allow remotecontrol_app dnsproxyd_socket:sock_file write;
allow remotecontrol_app fwmarkd_socket:sock_file write;
allow remotecontrol_app graphicsstats_service:service_manager find;
allow remotecontrol_app input_method_service:service_manager find;
allow remotecontrol_app input_service:service_manager find;
allow remotecontrol_app location_service:service_manager find;
allow remotecontrol_app media_rw_data_file:dir create;
allow remotecontrol_app media_rw_data_file:dir getattr;
allow remotecontrol_app media_rw_data_file:dir rmdir;
allow remotecontrol_app media_rw_data_file:dir { rw_dir_perms };
allow remotecontrol_app media_rw_data_file:dir search;
allow remotecontrol_app mount_service:service_manager find;
allow remotecontrol_app netd:unix_stream_socket connectto;
allow remotecontrol_app network_management_service:service_manager find;
allow remotecontrol_app radio_service:service_manager find;
allow remotecontrol_app registry_service:service_manager find;
allow remotecontrol_app self:tcp_socket connect;
allow remotecontrol_app self:tcp_socket create;
allow remotecontrol_app self:tcp_socket setopt;
allow remotecontrol_app self:udp_socket connect;
allow remotecontrol_app self:udp_socket create;
allow remotecontrol_app surfaceflinger_service:service_manager find;
allow remotecontrol_app sysfs_ir_enable:file { rw_file_perms };
allow remotecontrol_app textservices_service:service_manager find;
allow remotecontrol_app uimode_service:service_manager find;
allow remotecontrol_app vibrator_service:service_manager find;
allow remotecontrol_app wifi_service:service_manager find;
allow remotecontrol_app audio_service:service_manager find;
allow remotecontrol_app autofill_service:service_manager find;
