allow servicemanager mdtpdaemon:dir { search };
allow servicemanager mdtpdaemon:file { r_file_perms };
allow servicemanager mdtpdaemon:process { getattr };
